//import
@import "../../../scss/principal.scss";

//variables propias
$altocabecera: 175px;
//mixin
$timeAnimation: 0.4s;
@mixin estadoInicialFoto {
  transition-duration: $timeAnimation;
  transition-delay: 0.1s;
  transform-style: preserve-3d;
  opacity: 1;
  filter: blur(0px) saturate(100%);
  transform: rotateY(0deg) scale(1);
}
@mixin estadoFinalFoto {
  transition-duration: $timeAnimation;
  transition-delay: 0.1s;
  transform-style: preserve-3d;
  filter: blur(30px) saturate(180%);
  opacity: 0;
  transform: rotateY(90deg) scale(1.1);
}

.cardproduct {
  //Valor inicial
  width: 470px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  .franja-negra {
    width: 100%;
    height: 50%;
    background-color: $MCnegro;
    position: absolute;
    top: $altocabecera;
  }

  .imagen-producto {
    padding: 30px;
    padding-bottom: 0;

    .imgen-producto-foto {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .base {
        transition-duration: $timeAnimation;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(0px);
        z-index: -1;
      }
      .foto-anim-simple {
        transition-duration: $timeAnimation;
        transform: scale(1);
        /*         background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top left; */
        img {
          transition-duration: $timeAnimation;
          transform: scale(1);
        }
        &:hover {
          transition-duration: $timeAnimation;
          transform: scale(1.1);
          .base {
            transition-duration: $timeAnimation;
            filter: blur(2px);
          }
          img {
            /*             transition-duration: $timeAnimation;
            transform: scale(1.05); */
          }
        }
      }
      .foto-anim-compuesta {
        position: relative;
        .foto-front {
          @include estadoInicialFoto();
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: top left;
        }
        .foto-back {
          position: absolute;
          top: 0;
          left: 0;
          @include estadoFinalFoto();
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: top left;
        }
        &:hover {
          .foto-front {
            @include estadoFinalFoto();
          }
          .foto-back {
            @include estadoInicialFoto();
            transform: scale(1.1);
          }
        }
      }
    }
    .bandera {
      position: absolute;
      margin: auto;
      display: inline-block;
      top: -8px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 32px;
      z-index: 10;
      transition-duration: $timeAnimation;

      img {
        width: 100%;
        height: auto;
      }
    }
    &:hover {
      .bandera {
        transition-duration: $timeAnimation;
        transform: translate(-50%, -20px);
      }
    }
  }
  .cabecera {
    height: 175px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
    .precio {
      font-family: "Creepster";

      .precio-actual {
        color: $MCblanco;
        font-size: 40px;
      }
      .precio-oferta {
        color: $MCrojoO;
        font-size: 29px;
        position: relative;
        display: inline-block;
        &:after {
          height: 2px;
          width: calc(100% + 5px);
          content: "";
          background-color: #ff0000;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) rotate(345deg);
        }
      }
    }
    .boton-voltear {
      width: 138px;
      height: 40px;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      text-align: right;
      line-height: 1.2;
      img {
        margin-left: 10px;
      }
    }
  }
}
