@import "../../../scss/principal.scss";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $SpaceBig;
  .footer-sup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .footer-logo {
      img.logo {
        width: 300px;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
      }
      .linea {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .footer-mano {
      width: 150px;
      padding-bottom: 130px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .footer-inf {
    width: 100%;
    padding: 40px;
    padding-top: 0;
    background-color: $MCnegro;
    text-align: center;
    .footer-social {
      ul {
        display: flex;
        justify-content: center;
        li {
          position: relative;
          margin: 0 5px;
          color: $MCrojo;
          display: flex;
          justify-content: center;
          font-size: 25px;
          /* &::before {
            content: "";
            position: absolute;
            border-radius: 100px;
            top: 0;
            left: 50%;
            transform: translateY(-50%);
            $ancho: 30px;
            width: $ancho;
            height: $ancho;
            background-color: $MCrojo;
          } */
        }
      }
    }
    .footer-menu {
    }
  }
}
