@import "../uikit/color";
//Variables ----------------
//Espacios
$SpaceSmall: 15px;
$SpaceMedium: 60px;
$SpaceBig: 150px;
//pruebas
@mixin Prueba {
  boder: 1px solid red;
}
//<a>
@mixin A-format {
  text-decoration: none;
}
//botones
@mixin Boton-a-base {
  @include A-format;
  border-radius: 200px;
  padding: 10px 30px;
  color: $MCmoradoGris;
  background-color: $MCnegro;
  margin: auto;
}

//animacion
@mixin animation {
  transition: 0.2s;
}
